@font-face {
  font-family: "UniNeue";
  font-style: normal;
  font-weight: 400;
  src: url("/public/assets/css/uni_neue/UniNeue-Trial-Regular.ttf")
    format("truetype");
}
#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
#scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
